.Video-message-container{
    position: relative;
}

.Video-message-camera{
    width: 100%;
    background-color: white;
    margin-right: auto;
}
.Video-message-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
}