.LeftSlider-Container{
    width: 27%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ededed;
    z-index: 99999;


    transition: 0.25s;
    transition-timing-function: ease-out;
    transform: translateX(0);
    opacity: 1;
  }
.slideOut{
    transform: translateX(-130%);
    transition-timing-function: ease-in;
    transition: 0.2s;
    opacity: 0;
}